.c-tools__layout-panel {
  max-width: 25rem;
  position: absolute;
  right: 0;
  z-index: $zindex-dropdown - 1;

  .c-layout-panel__nav {
    background: $body-bg;
  }
}

// Labels in these options should all be the same width for alignment purposes.
// Generic width used in most tools. We could create a tools utils if we feel like we need to add more generic classes
.c-tools__form-control-label-fixed {
  .form-control-label {
    width: 3.5rem;
  }
}
