<div class="js-navtop w-100">
  <header class="d-flex flex-column navbar navbar-expand border u-bg-body-offset">
    <div class="row w-100 no-gutters">
      <ul class="navbar-nav"
          list list-id="js-tools-nav-left"
          list-prefix="<li class='nav-item mr-2 my-auto'>"
          list-suffix="</li>"></ul>
      <layout-tabs layout-configs="layoutConfigs" ng-if="layoutConfigs.length > 0"></layout-tabs>
      <ul class="navbar-nav col-auto justify-content-end"
          list list-id="js-tools-nav-right"
          list-prefix="<li class='nav-item my-auto'>"
          list-suffix="</li>"></ul>
    </div>
  </header>
</div>
